* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    position: relative;
}

a {
    color: #369bd7;
    text-decoration: none;
}

a:hover {
    color:#2071a1;
    text-decoration:underline
}

a:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

a:hover,a:active {
    outline:0
}