footer {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    margin-top: 20px;
    background-color: #EEE;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    margin-bottom: 1em;
}