.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    background-color: #000;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    z-index: 100;

    -webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);

/*     background-color: #61b0df;
background-image: -moz-linear-gradient(top, #61b0df, #369bd7);
background-image: -ms-linear-gradient(top, #61b0df, #369bd7);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#61b0df), to(#369bd7));
background-image: -webkit-linear-gradient(top, #61b0df, #369bd7);
background-image: -o-linear-gradient(top, #61b0df, #369bd7);
background-image: linear-gradient(top, #61b0df, #369bd7);

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61b0df', endColorstr='#369bd7', GradientType=0); */
}

.navbar A, .navbar A:hover {
    text-decoration: none;
}

.navbar, .navbar A {
    color: #fbaf31;
}
.navbar A.brand {
    color: #fbaf31;
    /* text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    color: #ffb376;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5); */
    font-weight: normal;
}

.navbar .ebay-container {
    top: 0px;
    right: 0px;
    position: absolute;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    text-align: right;
}

.navbar .ebay-logo {
    vertical-align: middle;
}

.navbar-subtitle {

}

.navbar .container-full-width {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}