<div class="navbar">
    <div class="container">
        <a href="/" class="brand">RaptorJS</a>

        <div class="ebay-container">
            <optimizer-img src="./ebay-open-source-white.png"
                width="173" height="30" class="ebay-logo"/>
        </div>
    </div>
</div>